doctype html
html(lang='en')
  head
    title= title
    link(href='vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

  body
    block content

    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
